.toolbox_container {
    background-color: var(--night);
    width: 15%;
    height: 90vh;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* font-family: 'Lato'; */
}

h1.toolbox {
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 0;
    color: var(--birch);
}

.svg_container {
    width: 90%;
    height: 100%;
    background-color: var(--birch);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.svg_container svg:hover {
    cursor: pointer;
}

.svg_container svg {
    width: 90%;
    height: auto;
}

.input {
    padding-bottom: 17px;
}

.input button {
    background-color: var(--night);
    color: var(--birch);
    border: none;
    border-radius: 2px;
    padding: 6px 10px;
    cursor: pointer;
}

.input button:hover {
    background-color: var(--thistle);
    font-weight: 700;
}