.toolbox_container {
    background-color: #211551;
    width: 25%;
    height: 95.5vh;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

h1.toolbox {
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 0;
    color: #F1F1DE;
}

.svg_container {
    width: 90%;
    height: 88%;
    background-color: #F1F1DE;
    border-radius: 3px;
}

.svg_container svg:hover {
    cursor: pointer;
}
