.toolbox_container {
    background-color: var(--night);
    width: 25%;
    height: 90vh;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* font-family: 'Lato'; */
}

h1.toolbox {
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 0;
    color: var(--birch);
}

.svg_container {
    width: 90%;
    height: 100%;
    background-color: var(--birch);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.svg_container svg:hover {
    cursor: pointer;
}

.svg_container svg {
    width: 90%;
    height: auto;
}

.input {
    padding-bottom: 20px;
}