body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --birch: #F1F1DE;
  --night: #211551;
  --copper: #9D581F;
  --snow: #FFFFFF;
  --thistle: #8252C7;
  --flint: #101820;

    height: 100vh;
    width: 100vw;
}

h1 {
  padding: 0;
  margin: 0;
}