.toolbox_container {
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.svg_container {
    width: 100%;
    height: 500px;
    border: 5px solid black;
}