  .gate_svg {
    width: 110px;
    height: 80px;
    z-index: 1;
  }

  .junction_svg {
    width: 30px;
    height: 20px;
  }

  /* Handles styling */
  .react-flow .react-flow__handle {
    width: 14px;
    height: 3px;
    border-radius: 0px;
    background-color: #000;
    border: none;
  }

  .react-flow__handle {
    min-height: 2px!important;
  }
 
  .junction_handle {
    border-radius: 5px!important;
    width: 8px!important;
    height: 8px!important;
  }

  /* Rotate handle styling */
  .node {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .node:hover .rotate_handle {
    display: block;
  }
  
  .rotate_handle_container{
    width: 40px;
    height: 20px;
    position: absolute;
    left: 30%;
    top: -19px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 7px; /* the rotate handle is not in the center of the container, hence padding */
    z-index: -1;
  }

  .rotate_handle {
    width: 10px;
    height: 10px;
    background: var(--thistle);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    cursor: alias;
    display: none;
    z-index: -1; /* so that it goes behind the curve of the gate */
  }

  .rotate_handle:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 15px;
    background: var(--thistle);
    left: 4px;
    top: 5px;
  }

  .rotate_handle:hover {
    display: block;
  }

  .rotate_handle:after:hover{
    display: block;
  }

  .curved_gate_styling {
    top: -16px;
  }

  .not_gate_styling {
    left: 21%;
    top: -18.5px;
  }

  .not_curved_gate_styling {
    top: -15px;
    left: 25%;
  }

  .not_gate {
    top: -3px;
    z-index: 1;
  }
